.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */

.navbar {
  background-color: #FFF7ED;
  display: flex;
  justify-content: space-between;

}

.links {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #CA734D;
}

.lotus {
  height: 4rem;
}

.item-card {
  background-color: #FFF7ED;
  border-radius: 8px;
  padding: 8px;
}
