.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */

.navbar {
  background-color: #FFF7ED;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #D49C84;
}

.lotus {
  height: 4rem;
}

.search-bar{
  display: flex;
  justify-content: center;
  padding: 24px;
}

.search-bar input{
  width: 50%;
  min-width: 300px;
  padding: 12px 24px;
  border-radius: 15px;
  font-size: 16px;
  border: 0px;
  outline: none;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 15px;
  margin-left: 15%;
}